scatter_gather/src/main/mule/scattergather.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="scattergather-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8099" />
    </http:listener-config>
    <apikit:config name="scattergather-config" raml="scattergather.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5a46d425-3a76-44d2-9ad8-93d58f3b9f38" >
		<http:request-connection host="localhost" port="8099" />
	</http:request-config>
	<flow name="scattergather-main">
        <http:listener config-ref="scattergather-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="scattergather-config" />
        
    </flow>
    <flow name="scattergather-console">
        <http:listener config-ref="scattergather-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="scattergather-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\cityindia:scattergather-config">
        <http:listener doc:name="Listener" doc:id="812efac5-2784-4bd2-9162-e8968cf53c5e" config-ref="scattergather-httpListenerConfig" path="/india" allowedMethods="GET"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    country: "IN",
    name: "NewDelhi",
    lat: "22.86643",
    lng: "88.40113"
  }, 
  {
    country: "IN",
    name: "Bangalore",
    lat: "22.86643",
    lng: "56.40113"
  }, 
  {
    country: "IN",
    name: "Chennai",
    lat: "22.86643",
    lng: "88.40113"
  }, 
  {
    country: "IN",
    name: "Kolkata",
    lat: "22.86643",
    lng: "88.40113"
  }, 
  {
    country: "IN",
    name: "Bhubaneswar",
    lat: "22.86643",
    lng: "88.40113"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cityspain:scattergather-config">
        <http:listener doc:name="Listener" doc:id="9fc3dd8e-6a3a-4132-8687-c3a1590bbcb1" config-ref="scattergather-httpListenerConfig" path="/spain" allowedMethods="GET"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    country: "ES",
    name: "Berriz",
    lat: "43.16667",
    lng: "-2.56667"
  }, 
  {
    country: "ES",
    name: "Berninches",
    lat: "40.57106",
    lng: "-2.80121"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\scattergather:scattergather-config">
        <http:listener doc:name="Listener" doc:id="c5c93167-8a84-4411-a0c3-88d72763d55b" config-ref="scattergather-httpListenerConfig" path="/scatter" allowedMethods="GET"/>
		<try doc:name="Try" doc:id="462b53a1-22f1-432c-b4db-1e1371574372" >
			<scatter-gather doc:name="Scatter-Gather" doc:id="71a00ce9-f7b9-4d4c-a37a-80fa0bb0a7fe">
			<route>
				
						<http:request method="GET" doc:name="Get India City Info" doc:id="e6f63b5b-e12f-4a93-90ee-2de3801dbdbe" config-ref="HTTP_Request_configuration" path="/india" outputMimeType="application/json" />
						<ee:transform doc:name="CreateRequestForIndia" doc:id="bf81d7e3-5f9b-4364-85fa-355b1c2bd96c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
(payload map  {
	country: $.country,
	city: $.name,
	lattitude: $.lat,
	longitude: $.lng
})]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					
			</route>
			<route>
				
						<http:request method="GET" doc:name="Get Spain City Info" doc:id="ba96e547-147f-4d3c-8cfe-5b32a055a168" config-ref="HTTP_Request_configuration" path="/spain" outputMimeType="application/json" />
						<ee:transform doc:name="CreateRequestForSpain" doc:id="3261d22b-8b18-4054-ae7b-a96108ac6978">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map  {
	country: $.country,
	city: $.name,
	lattitude: $.lat,
	longitude: $.lng
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					
			</route>
		</scatter-gather>
		</try>
		<ee:transform doc:name="CreateResponse" doc:id="5e447c1a-fbbc-4c87-be09-8472bf7600fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload."0".payload ++
 payload."1".payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>	
		<error-handler ref="customeErrorhandler"/>	
    </flow>
    <flow name="post:\cityindia:scattergather-config">
        <http:listener doc:name="Listener" doc:id="b04e2dc5-5cb9-4773-a864-3e366c3da407" config-ref="scattergather-httpListenerConfig" path="/india" allowedMethods="POST"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "City details added - India"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\cityspain:scattergather-config">
        <http:listener doc:name="Listener" doc:id="1ca2aa17-4387-426b-bf6b-ead95fdb6503" config-ref="scattergather-httpListenerConfig" path="/spain" allowedMethods="POST"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "City details added - Spain"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <error-handler name="customeErrorhandler">
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>            
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0b94c418-9a31-4628-a5f1-ef6098759377">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="fa0456a7-02b7-4b53-9f50-436c19c9463f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>           
			<on-error-propagate enableNotifications="true" logException="true" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="21883dd1-cf02-49ab-b393-328aec11fefd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors:error.errorType

  }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="ff19169b-c803-4311-af13-55322f3eb1b1" message="My Test Logger ==&gt; #[ payload]" />
			</on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="75362d65-860c-4be3-9b3c-9597d23ac957">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
</mule>
